.my-works {
  width: 1150px;

  .content {
    .work-example {
      grid-template-columns: 570px 50px 1fr 400px;

      &:nth-child(odd) {
        grid-template-columns: 400px 1fr 50px 570px;
      }
    }
  }
}
