.my-works {
  .content {
    .work-example {
      margin-top: 70px;
      grid-template-rows: 29px 1fr 600px;
      grid-template-columns: 40% 1fr;
      grid-template-areas: "title description" "link description" "carousel carousel" "carousel-progress carousel-progress";
      grid-gap: 5px;

      &:nth-child(2) {
        margin-top: 50px;
      }

      .description {
        margin-top: 10px;
      }

      .carousel {
        height: 100%;

        img {
          width: 100%;
          height: auto;
          max-width: 800px;
        }
      }
    }
  }
}
