// Colors
$light-orange: #ca664c;
$orange: #DD3E18;
$dark-orange: #A32A14;
$dark-gray: #6D6F6E;
$white: #FFFFFF;
$black: #000000;

// Fonts
$font-family-caption: 'Open Sans', sans-serif;
$font-family-main: 'Roboto', serif;